

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}



.black_color{
    background-color: black;
    color:white
}

.first{
    
    height: 100%;
    padding-top: 2%;
    display: flex;
    justify-content: space-around;
    font-size: 25px;
}


@media screen and (max-width:574px) {
    .first{padding-top: 2%;}
}


.glav{
    color: red;
    
    font-size: 48px;
    
}

@media screen and (max-width:574px) {
    .glav{font-size: 30px;}
}

.contacts{
    cursor: pointer;
}



.contacts:hover{
    color:red;
    transition: 0.3s;
}

@media screen and (max-width:574px) {
    .contacts{font-size: 20px;}
}


.sale{
    cursor: pointer;
}

.sale:hover{
    color: red;
    transition: 0.3s;
}

@media screen and (max-width:574px) {
    .sale{font-size: 20px;}
}


.knop{
    margin-top: 7%;
    margin-left: -3%;
}

.knopka{
    background: none;
    display: block;
    margin: 2% auto;
    text-align: center;
    border: 1px solid red;
    padding: 1.4% 4%;
    outline: none;
    color: white;
    border-radius: 10px;
    width: 30%;
    font-size: 18px;
}

@media screen and (max-width:574px) {
    .knopka{
        width: 45%;
        margin-left: 29%;
    }
}


.second{
    
    margin-top: 15%;
    margin-left: 17%;
    width: 20%;
    font-size: 18px;
}

.img1{
    width: 170%;
    margin-left: 160%;
    margin-top: -80%;
    opacity: 70%;
}

.img1:hover{
    opacity: 100%;
    
}

@media screen and (max-width:574px) {
    .img1{
        padding: 0;
        box-sizing: border-box;
        width: 60%;
        margin-top: 10%;
        margin-left: 30%;
    }
}


.text1{
    height: 20%;
}
@media screen and (max-width:574px) {
    .text1{width: 400%;}
}





.third{
    margin-top: 7%;
    margin-left: 17%;
    font-size: 18px;
    
}

@media screen and (max-width:574px) {
    .third{width: 83%;}
}




.text2{
    width: 35%;
}
@media screen and (max-width:574px) {
    .text2{
        width: 100%;
        margin-top: 18%;
        
    
    }
}




.dop1{
    padding-left: 3%;
}

.dop2{
    padding-left: 3%;
}

.dop3{
    padding-left: 3%;
}

.dop4{
    padding-left: 3%;
}

.fourth{
    display: block;
    margin-bottom: 5%;
    margin-left: 60%;
    margin-top: -9%;
    font-size: 18px;
}
@media screen and (max-width:574px) {
    .fourth{
        width: 55%;
        margin-top: 20%;
        margin-left: 17%;
    
    }
}

.text3{
    width: 60%;
}

@media screen and (max-width:574px) {
    .text3{
        width: 100%;
       
    
    }
}


.dopy1{
    padding-left: 10%;
    
}

.dopy2{
    padding-left: 10%;
}

.dopy3{
    padding-left: 10%;
}

.dopy4{
    padding-left: 10%;
}

.white_color{
    padding-bottom: 20%;
    padding-top: 5%;
    background-color: gainsboro;
    color: black;
}

.funf{
    margin-top:-1%;
    margin-bottom: 10%;
    display: flex;
    justify-content: space-around;
}

.but{
    background: none;
    display: block;
    margin: 2% auto;
    text-align: center;
    border: 1px solid red;
    padding: 1.4% 4%;
    outline: none;
    color: black;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.5s;
    width: 25%;
    font-size: 18px;
    
}

.but:hover{
    background: red;
    transition: 0.3s;
}

a{
    display:block;
    text-decoration: none;
    color: black;
}

.map{
    margin-top:-5%;
}

.six{
    padding-top: 30%;
    margin-left: -15%;
}



.contact{
    color: red;
    font-size: 40px;
    margin-top: -22%;
    margin-left: 30%;
}
@media screen and (max-width:574px) {
    .contact{
        width: 100%;
        font-size: 30px;
    
    }
}

.tel{
    font-size: 30px;
    margin-left: 30%;
    margin-top: 3%;
}
@media screen and (max-width:574px) {
    .tel{
        width: 100%;
        font-size: 20px;
       
    
    }
}

.adress{
    font-size: 30px;
    margin-left: 30%;
    margin-top: 3%;
}
@media screen and (max-width:574px) {
    .adress{
        width: 100%;
        font-size: 20px;
    
    }
}

.toto{
    width: 20%;
    margin-left: 70%;
    margin-top: -30%;
}
@media screen and (max-width:574px) {
    .toy{
        margin-top: -3%;
       
    
    }
}